[Ll]ibrary/
[Tt]emp/
[Oo]bj/
UserSettings/
Local/
bin/
[Bb]ak/
Backup/
Logs/
/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.user
/*.userprefs
/*.pidb
/*.booproj
/*.pyc
/*.bak
/*.ipa
/*.apk
/*.cs.orig
/*.DS_Store
/*.vs
/*.vscode
/*.obj
/*.pdb
/*.user
/*.aps
/*.pch
/*.vspscc
/*_i.c
/*_p.c
/*.ncb
/*.suo
/*.tlb
/*.tlh
/*.cache
/*.ilk
/*.sbr
/*.log
